/* Starting MOBILE XS FIRST */
/************************************************
    MOBILE S
*************************************************/

@media screen and (min-width: 600px) {
     .col {
        width: calc(100% / 2 - (10px * 1) / 2);
    }
    
}


/************************************************
    TABLET
*************************************************/

@media screen and (min-width: 700px) {

    .col {
        width: calc(100% / 4 - (10px * 3) / 4);
    }

}


/************************************************
    DESKTOP
*************************************************/
@media screen and (min-width: 1100px) {

    .col {
        width: calc(100% / 6 - (10px * 5) / 6);
    }
}