/* Starting MOBILE S FIRST */


/************************************************
    TABLET
*************************************************/

@media screen and (min-width: 700px) {
     .col {
        width: calc(100% / 2 - (20px * 1) / 2);
    }
    
}


/************************************************
    DESKTOP
*************************************************/
@media screen and (min-width: 1100px) {

    .col {
        width: calc(100% / 3 - (20px * 2) / 3);
    }
}