/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Typography */
body{
    font-family: ‘Edu Tas Beginner’, sans-serif;
    background-image: url(../img/cork.png);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.g-20 {
    gap: 20px;
}

.pt-200 {
    padding-top: 200px;
}

header {
    height: 100px;
    background-image: url(../img/wall.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}


/* Flex */
 .flex {
    display: flex;
 }

 .justify-content-btw {
    justify-content: center;
 }

 .align-items-center {
    align-items: center;
 }
 
 .wrap {
    flex-wrap: wrap;
 }

 .col {
    width: 100%;
    background-color: bisque;
 }

 main {
    padding-top: 100 px;
 }

.card {
    height: 100%;
    padding: 15px;
    border: 1px, solid, grey;
    border-radius: 20px;
}

