/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Typography */
body{
    font-family: ‘Edu Tas Beginner’, sans-serif;
    background-image: url(../img/cork.png);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.g-10 {
    gap: 10px;
}

.pt-200 {
    padding-top: 200px;
}

header {
    height: 100px;
    background-image: url(../img/wall.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}


/* Flex */
 .flex {
    display: flex;
 }

 .justify-content-btw {
    justify-content: center;
 }

 .align-items-center {
    align-items: center;
 }
 
 .wrap {
    flex-wrap: wrap;
 }

 .col {
    width: 100%;
    background-color: bisque;
 }

 main {
    padding-top: 100 px;
    padding-bottom: 100px;
 }

.card {
    height: 100%;
    padding: 15px;           
    background-color: white;
   
}

.card img {
    border-radius: 20px;
    width: 100%;
    display: block;
}

.card-date {
    font-family: ‘Sometype Mono’, ‘monospace’;;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;

}   

.card-title {
    text-transform: capitalize;
}




/* DAY 2 */


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

#overlay.hidden {
  display: none;
}


/* .hidden {
    display: none; //non funziona
} */

/* The center overlay box */
.overlay-box {
    background: white;
    border-radius: 10px;
    min-width: 600px;
    min-height: 600px;
    position: relative; 
}


#close-btn-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #999696;
    color: white;
    font-size: larger;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.close-overlay:hover {
    background: black;
}


