/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Typography */
body{
    font-family: ‘Edu Tas Beginner’, sans-serif;
    background-image: url(../img/cork.png);
}

.container {
    width: 90%;
    background-color: aquamarine;
}

header {
    height: 100px;
    background-image: url(../img/wall.png);
}